{% load widget_tweaks %}
{% load static %}
{% csrf_token %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">

<div class="row">
    <form method="post" action="{% url 'task_edit' edit_tasks.id %}">
    {% csrf_token %}
    {% for field in form %}
        {% if field.label == 'Start date' or field.label == 'End date' %}
            <div class="col-md-6">
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker{{ forloop.counter }}'>
                        {% render_field field class='form-control' placeholder=field.label %}
                        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-md-6">
                <div class="form-group">
                    {% render_field field class="form-control" placeholder=field.label %}
                </div>

            </div>
        {% endif %}

    {% endfor %}

    <div class="col-md-12">
        <button id="edit_button" data_url={% url 'home' %}  style="padding: 13px 267px;
        " class="btn btn-primary">Edit</button>

    </div>
    </form>
</div>
<script src="{% static 'asserts/js/ajax.js' %}"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{#<script src="{% static 'asserts/js/main.js' %}"></script>#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
<script src="{% static 'asserts/js/ajax.js' %}"></script>
<script>
    $(function () {
        $('#datetimepicker3').datetimepicker({
            format: 'YYYY-MM-DD HH:mm:ss ',
        });
        $('#datetimepicker4').datetimepicker({
            format: 'YYYY-MM-DD HH:mm:ss  ',
        });

    });
</script>
<script>
</script>