{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Login</title>#}
{#</head>#}
{#<body>#}
{#    <strong style="text-align: center"><h1>Login</h1></strong>#}
{##}
{#    <div style="text-align: center">#}
{#        <form method="POST">#}
{#            {% csrf_token %}#}
{#            <input type="text" name="username" placeholder="username"><br><br>#}
{#            <input type="password" name="password" placeholder="password"><br><br>#}
{#            <input type="submit"><br><br>#}
{#        </form>#}
{#    </div>#}
{#    <div style="text-align: center">#}
{#        {% for message in messages %}#}
{#        <h3 style="color: red";> {{ message }} </h3>#}
{#        {% endfor %}#}
{#    </div>#}
{#</body>#}
{#</html>#}

<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by Colorlib</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'asserts/fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'asserts/css/style.css' %}">
</head>
<body>

<div class="main">

    <!-- Sing in  Form -->
    <section class="sign-in">
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="{% static 'asserts/images/signin-image.jpg' %}" alt="sing up image"></figure>
                    <a href="{% url 'register' %}" class="signup-image-link">Create an account</a>
                </div>

                <div class="signin-form">
                    <h2 class="form-title">Sign in</h2>
                    <form method="POST" class="register-form" id="login-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="text" name="username" id="your_name" placeholder="Your Name"/>
                        </div>
                        <div class="form-group">
                            <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" name="password" id="your_pass" placeholder="Password"/>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                        </div>
                    </form>
                    <div style="text-align: center">
                        {% for message in messages %}
                            <h3 style="color: red" ;> {{ message }} </h3>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

<!-- JS -->
<script src="{% static 'asserts/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'asserts/js/main.js' %}"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>